{% extends 'app/base.html' %} {% load static %} {% block cart_content %}
<div class="row" style="width: 1500px; justify-content: center">
    <div class="col-lg-12" style="margin-left: 65px;">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'home' %}" style="margin-top: 10px;">&#x2190; Tiếp tục mua sách</a>

            <br>
            <br>
            <table class="table">
                <tr>
                    <th>
                        <h5>Số lượng sản phẩm: <strong>{{count}}</strong></h5>
                    </th>
                    <th>
                        <h5>Tổng tiền: <strong>{{total | floatformat:3}}</strong></h5>
                    </th>
                    <th>
                        <a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Thanh toán</a>
                    </th>
                </tr>
            </table>

        </div>

        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Tên sách</th>
                    <th scope="col">Giá tiền</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Tổng</th>
                    <th scope="col">Xóa</th>
                </tr>
            </thead>
            <tbody>
                {% for item in books %}
                <tr>
                    <td><img class="row-image" src="../static/images/{{item.BookId.Image}}"></td>
                    <td>
                        <p>{{item.BookId.Name}}</p>
                    </td>
                    <td>
                        <p>{{item.BookId.Price | floatformat:3}}</p>
                    </td>
                    <td>
                        <p class="quantity">{{item.Quantity}}
                            <a href='{% url "updatebookcart" %}?Id={{item.Id}}&TT=1' style="text-decoration: none; margin-left: 15px;">
                                <i data-action='add' class="chg-quantity fa-solid fa-angle-up update-cart"></i>
                            </a>
                            <a href='{% url "updatebookcart" %}?Id={{item.Id}}&TT=0' style="text-decoration: none; margin-left: 5px;">
                                <i data-action='remove' class="chg-quantity fa-solid fa-angle-down update-cart"></i>
                            </a>
                        </p>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a href='{% url "deletebookcart" %}?Id={{item.Id}}'>
                            <button type="button" class="btn btn-outline-success">Xóa</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock cart_content %}