{% extends 'app/base.html' %} {% load static %} {% block content_checkout %}
<div class="row" style="width: 100%, justify-content: center">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" onsubmit="return showConfirmation()" action = "{% url 'pay'%}">{% csrf_token %}
                <div id="shipping-info">
                    <p style="margin-top: 10px;margin-top: 25px;">Thông tin nhận hàng:</p>
                    <hr>
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Họ tên..." value = "{{person.Name}}">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="sđt" placeholder="Số điện thoại..." value = "{{person.Phone}}">
                        </div>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Địa chỉ..." value = "{{person.Address}}">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="date" name="Mobile" placeholder="Ngày sinh..." value = "{{person.DateOfBirth}}">
                    </div>
                </div>
                <br>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Xác nhận">
            </form>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}" style="margin-top: 10px;">&#x2190; Quay lại giỏ hàng</a>
            <hr>
            <span>Số lượng: <strong>{{count}}</strong></span>
            <span style="margin-left: 500px;">Tổng tiền: <strong>{{total  | floatformat:3}}</strong></span>
            <br>
            <br>
            <h3>Danh sách sản phẩm</h3>
            <hr> {% for item in books %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="../static/images/{{item.BookId.Image}}"></div>
                <div style="flex:2">
                    <p>{{item.BookId.Name}}</p>
                </div>
                <div style="flex:1">
                    <p>$ {{item.BookId.Price}}</p>
                </div>
                <div style="flex:1">
                    <p>{{item.Quantity}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function showConfirmation() {
        alert("Thanh toán thành công");
        return true;
      }
      
</script>
{% endblock content_checkout %}